/* Media Queries Screen 1199px */

@media only screen and (max-width:1199px) {
    .topbar .topbar-item {
        padding: 12px 0px 12px 0;
    }
}
/* Media Queries Screen 1199px */
@media only screen and (max-width:991px) {
    .time {
        display: none;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        font-size: 16px;
        color: black !important;
        padding: 15px 6px;
        font-family: philosopher-regular;
        transition: color 300ms ease-in-out;
    }

    .banner .banner-content h1 {
        font-size: 40px;
        line-height: 55px;
        font-family: philosopher-bold;

    }
    .prayer .all-timings {
        padding: 5px 28px;
    }
    .prayer .prayers-timing {
        margin: 25px 0;
        padding: 0px 10px;
    }
}

@media only screen and (max-width:630px) {
    .top-btn {
        display: none !important;
    }

    .topbar span {
        font-size: 14px !important;
    }
}
/* Media Queries Screen 768px */
@media only screen and (max-width:768px) {

    .banner .banner-content h1 {
        font-size: 30px;
        line-height: 44px;
        font-family: philosopher-bold;

    }
    .prayer .section1{
        text-align: center;
    margin-bottom: 59px;
      }
}


/* query for 576 screen and below */
@media only screen and (max-width:576px) {
    .banner .container {
        padding: 130px 0px;
    }

    .banner .imagearea img {
        display: none;

    }

    .banner .banner-content h1 {
        font-size: 28px;
        line-height: 44px;
        font-family: philosopher-bold;

    }
    .banner .banner-content button{
        padding: 10px 22px;
        font-size: 14px;
        line-height: 17px;
      }
      .banner .banner-content .learn-more{
        
        margin-right: 20px;
      }
      .prayer .section1{
        text-align: center;
    margin-bottom: 59px;
      }

}